:root {
  --bg-dark: #0a011b;
  --bg-card: #0b061a;
  --neon-pink: #d400ff;
  --neon-purple: #8f00ff;
  --text-muted: #b5b5c3;
}

.about-section {
  background: var(--bg-dark);
  color: white;
  padding: 1%;
}

.about-image-wrapper {
  overflow: hidden;
}

.about-image {
  width: 100%;
}

.about-content h2 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.about-content h2::before {
  content: "";
  width: 40px;
  height: 4px;
  background: var(--neon-pink);
  position: absolute;
  top: -15px;
}

.about-content p {
  color: var(--text-muted);
  max-width: 400px;
}

.neon-btn {
  background: var(--neon-pink);
  border: none;
  margin-top: 20px;
  font-weight: bold;
}

.neon-btn:hover {
  background: var(--neon-purple);
  box-shadow: 0 0 15px var(--neon-pink);
}

.team-section {
  background: var(--bg-dark);
  color: white;
  padding: 100px 0;
}

.team-section h2 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.team-card {
  background: var(--bg-card);
  padding: 40px 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-card h4 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  color: var(--neon-pink);
}

.team-card p {
  font-size: 14px;
  color: var(--text-muted);
}

.phrase-section {
  background: var(--bg-dark);
  padding: 80px 20px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.phrase-text {
  color: var(--text-muted);
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
  max-width: 800px;
  line-height: 1.6;
}

.phrase-line {
  width: 70px;
  height: 4px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--neon-pink),
    transparent
  );
}

.hex-image {
  width: 180px;
  height: 200px;
  margin: 0 auto 20px;
  background-size: cover;
  background-position: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.hex-image::before {
  content: "";
  position: absolute;
  inset: -4px;
  background: linear-gradient(135deg, var(--neon-pink), var(--neon-purple));
  z-index: -1;
  clip-path: inherit;
}

.team-card:hover .hex-image {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--neon-pink);
}

@media (max-width: 768px) {
  .about-image-wrapper {
    transform: none;
  }

  .about-image {
    transform: none;
  }

  .about-content {
    margin-top: 40px;
    text-align: center;
  }
}
