.category-select {
  min-width: 180px;
}
.price-sort-btn {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
}

.price-sort-btn.active {
  background-color: #6f2cf4;
  border-color: #6f2cf4;
}