.hero-carousel-item {
  position: relative;
  height: 600px; 
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.carousel-caption {
  z-index: 2; 
}

@media (max-width: 768px) {
  .hero-carousel-item {
    height: 400px;
  }
}
