.hero-carousel-item {
  position: relative;
  height: 550px;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 15%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}

.carousel-caption h2 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .hero-carousel-item {
    height: 250px;
  }

  .carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 2rem;
  }

  .carousel-caption h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
