:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --secondary-bg: #1e1e1e;
  --accent-color: #0d6efd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
  background-color: var(--secondary-bg);
  color: var(--text-color);
}

/* Navbar Custom Styles */
.navbar-nav .nav-link {
  color: #adb5bd !important;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.btn-auth {
  background-color: #4b0082 !important;
  color: white !important;
  border: none !important;
  margin-left: 10px;
}

.btn-auth:hover {
  background-color: #6a0dad !important;
  color: white !important;
}
