@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --secondary-bg: #1e1e1e;
  --accent-color: #0d6efd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card {
  background-color: var(--secondary-bg);
  color: var(--text-color);
}
